@charset "utf-8"
/* webfont */

* {
    margin: 0;
    padding: 0;
}

/* 블릿없애기 */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'SUITE Variable', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    color: #2e2e2e;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    /* height: 104px; */
    border-bottom: 1px solid #000000;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    font-size: 12px;
}

.logo {
    padding-right: 100px;
}

.header2 {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.hamburger {
    position: absolute;
    top: 16px;
    left: 0;
}

.util {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.util li {
    margin: 0 10px;
}

.util img {
    display: block;
}

.util {
    display: flex;
}

.util li {
    margin-left: 12px;
}

#nav {
    height: 49px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.gnb {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* indicator기준!! */
}

.gnb>li {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: center;
}

.gnb li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* 서브메뉴 초기 상태: 숨김 */
.submenu {
    display: none;
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.submenu::before {
    content: "";
    position: absolute;
    top: -10px;
    /* 9px의 틈을 메울 정도의 높이 */
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    /* 투명하게 설정 */
}

/* 서브메뉴 항목 스타일 */
.submenu li {
    padding: 8px;
    text-align: center;
}

/* 핵심: 마우스를 올렸을 때 서브메뉴 보이기 */
.gnb>li:hover .submenu {
    display: block;
}

.submenu li a {
    color: #7c7c7c;
    text-decoration: none;
    transition: color 0.3s;
}

.submenu li:hover a {
    color: #A05237;
}


.indicator {
    position: absolute;
    bottom: -8px;
    left: -10px;
    width: 120px;
    height: 3px;
    background-color: #A05237;
    transition: transform 0.4s ease, opacity 0.2s;
    opacity: 0;
    pointer-events: none;
}

/* 위치 계산 수정 */
.gnb li:nth-child(1):hover~.indicator {
    transform: translateX(0);
    opacity: 1;
}

.gnb li:nth-child(2):hover~.indicator {
    transform: translateX(100px);
    opacity: 1;
}

.gnb li:nth-child(3):hover~.indicator {
    transform: translateX(200px);
    opacity: 1;
}

.gnb li:nth-child(4):hover~.indicator {
    transform: translateX(300px);
    opacity: 1;
}

.gnb li:nth-child(5):hover~.indicator {
    transform: translateX(400px);
    opacity: 1;
}

.gnb li:nth-child(6):hover~.indicator {
    transform: translateX(500px);
    opacity: 1;
}

/* visual */
#visual {
    height: 750px;
    position: relative;
    margin-bottom: 108px;
}

.video-bg {
    filter: brightness(0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.inner_visual {
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

#visual .inner_visual h1 img {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.inner_visual h1 {
    padding-bottom: 30px;
}

.inner_visual p {
    font-size: 20px;
    padding-bottom: 10px;
}

.visual_btn a {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    height: 38px;
    padding: 4px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.visual_btn {
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.visual_btn a:hover {
    color: white;
    background-color: #a64f30;
}

.circle {
    background-color: rgb(255, 255, 255);
    width: 172px;
    height: 172px;
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.circle_logo {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}

/* membership */
#membership {
    background-color: #a64f30;
    height: 364px;
}

.inner_membership {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    color: white;
    line-height: 25px;
    padding-top: 59px;
}

/* transition */
.membership_img {
    width: 245px;
    height: 245px;
    margin: auto;
    perspective: 2000px;
    display: block;
    cursor: pointer;
}


.membership_img p {
    border-radius: 50%;
    overflow: hidden;
    width: 245px;
    height: 245px;
    animation: rotate-ani 3.5s linear infinite;
}

/* 2. 회전 동작 정의 */
@keyframes rotate-ani {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}



.inner_membership_title {
    font-size: 30px;
    padding: 30px 0;
}

.inner_membership_text {
    padding-left: 44px;
    width: 1031px;
}

.inner_membership_text1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.btn:hover {
    background-color: white;
    color: #a64f30;
    font-weight: bolder;
}

.btn {
    border: 2px solid #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    height: 38px;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
}

.membership_line {
    border-bottom: 1px solid #ffffff;
}

.inner_membership_text2 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* seasonal */
#seasonal {
    width: 1320px;
    height: 916px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.seasonal_title {
    text-align: center;
    font-size: 20px;
    margin: 55px;
}

#seasonal .strong {
    font-size: 30px;
}

#seasonal .screen {
    position: relative;
    overflow: hidden;
}

#seasonal .screen img {
    width: 100%;
    display: block;
}

#seasonal .bottom {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: -20%;
    left: 0;
    z-index: 2;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.5s;
    text-align: center;
    background: rgba(20, 20, 20, 0.8);
}

#seasonal .swiper-button-next,
#seasonal .swiper-button-prev {
    color: #a64f30;
}

#seasonal .swiper-pagination {
    padding-bottom: 45px;
}

#seasonal .swiper-pagination-bullet-active {
    background: #ad4319;
    opacity: var(--swiper-pagination-bullet-opacity, 1);
}

#seasonal .swiper-slide-next .bottom {
    bottom: 0%;
}

#seasonal .swiper-slide {
    transform: scale(0.7) !important;
    transition: transform 1s;
}

#seasonal .swiper-slide-next {
    transform: scale(1) !important;
}

#seasonal .swiper-slide-duplicate-prev {
    transform: scale(0.7) !important;
}

/* edition */
#edition {
    height: 713px;
    background-image: url(../images/5_edition/pattern_bg.jpg);
    border-top: 1px solid #e9e9e9;
}

.inner_edition {
    padding-top: 73px;
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.edition_title {
    font-size: 20px;
    padding-top: 87px;
    padding-bottom: 72px;
}

.edition_title .strong {
    font-size: 30px;
}

.edition_text {
    font-size: 18px;
}

.edition_btn {
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    padding: 12px 35px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #a64f30;
    margin-top: 40px;
}

.edition_btn a:hover {
    color: #fff;
    text-decoration: underline;
}

/* tab */
.tab {
    width: 819px;
    height: 509px;
}

.tab img {
    width: 340px;
    height: 340px;
}

.board {
    display: flex;
    position: relative;
}

.board li {
    width: 180px;
}

.board>li>a {
    /* 사용자가 누르지 않은 tab */
    display: block;
    background-color: #EAE4D6;
    margin-right: 10px;
    padding: 18px 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: #a64f30;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

.board>li.on>a {
    /* 사용자가 누른 tab */
    color: white;
    background-color: #a64f30;
    box-shadow: 0 5px 5px rgba(68, 68, 68, 0.4) inset;
}


.board>li>div {
    /* 사용자가 누르지 않은 tab */
    height: 0;
    overflow: hidden;
}

.board>li.on>div {
    /* 사용자가 누른 tab */
    position: absolute;
    top: 65px;
    left: 0;
    border-top: 5px solid #a64f30;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    height: 509px;
    border-radius: 0 5px 5px 5px;
    background-color: #EAE4D6;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
}

.Edition {
    text-align: center;
    font-size: 18px;
}

.Edition .span {
    font-size: 20px;
}

.Edition img {
    width: 100%;
    height: 365px;
}

.Edition .cover_wrap {
    margin-top: 25px;
}

.Edition .cover_wrap {
    position: relative;
}

.Edition .img_wrap {
    width: 706px;
    height: 365px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 200px;
    position: relative;
}

.Edition .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1);
    transition: transform 0.5s;
}

.Edition .cover_wrap:hover .img_wrap img {
    transform: scale(1.1);
}

.Edition .cover {
    border-radius: 200px;
    position: absolute;
    top: 0;
    left: 56.5px;
    width: 706px;
    height: 365px;
    background-color: rgba(160, 82, 055, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.Edition .cover p {
    color: white;
}

.Edition .cover_wrap:hover .img_wrap img {
    transform: scale(1.1);
}

.Edition .cover_wrap:hover .cover {
    opacity: 1;
}

.Edition p {
    font-size: 18px;
    padding-top: 18px;
    line-height: 28px;
    color: #000;
}

.Edition span {
    font-size: 20px;
    font-weight: 500;
}

.Morning_text {
    margin: 130px 0 0 40px;
    width: 340px;
    height: 185px;
    line-height: 22px;
}

.Afternoon_text {
    margin-left: 60px;
    margin-top: 140px;
    margin-right: 50px;
    width: 300px;
    height: 215px;
    line-height: 22px;
}

.Night_text {
    margin: 150px 0 0 39px;
    width: 340px;
    height: 185px;
    line-height: 22px;
}

.tab span {
    font-size: 30px;
}

.tab h3 {
    font-weight: 500;
}

.Morning {
    display: flex;
    padding-left: 65px;
}

.Morning img {
    padding-top: 40px;
}

.Afternoon {
    display: flex;
}

.Afternoon img {
    padding-top: 40px;
}

.Night {
    display: flex;
    padding-left: 65px;
}

.Night img {
    padding-top: 40px;
}


/* delivery */
#delivery {
    background-color: #DAD2C0;
    height: 239px;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}

.inner_delivery {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    color: #2e2e2e;
    line-height: 25px;
}

.delivery_title {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 29px;
    font-weight: 600;
}

.delivery_text_wrap {
    padding-left: 44px;
    width: 812px;
}

.delivery_text1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.delivery_btn:hover {
    background-color: white;
    color: #a64f30;
    /* font-weight: bolder; */
}

.delivery_btn {
    border: 1px solid #000;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    height: 38px;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
    /* font-weight: bolder; */
}

/* offline */
#offline {
    height: 692px;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.inner_offline {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.offline_left {
    width: 350px;
}

.offline_title {
    font-size: 20px;
    padding-top: 110px;
    padding-bottom: 40px;
}

.offline_title .strong {
    font-size: 30px;
}

.offline_text {
    font-size: 18px;
}

/* scroll */
#section1 {
    height: 50px;
    overflow: hidden;
}

#section1 .title {
    position: relative;
}

#section1 .title h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    z-index: 2;
    width: 300px;
    /* color: white; */
}

#section1 .title>p {
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 15px;
    background-color: #96942a;
    transition: width 1s ease-in-out;
    z-index: 1;

}

#section1 .title p.animate {
    width: 275px;
}


.offline_btn {
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    padding: 12px 35px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #a64f30;
    margin-top: 40px;
}

.offline_btn a:hover {
    color: #fff;
    text-decoration: underline;
}

/* body 역할 */
.offline_img {
    position: absolute;
    left: 0;
    top: 103px;
    width: 1170px;
    height: 264px;
}

.offline_slide {
    height: 264px;
    position: relative;
}

.offline_img img {
    width: 264px;
    height: 264px;
}

/* 이미지 커지는 효과 */

.img_wrap img {
    display: block;
    /* A keyframe */
    transform: scale(0.95);
    transition: transform 0.3s;
}

.img_wrap img:hover {
    /* B keyframe */
    transform: scale(1.1);
}

.offline_right {
    width: 840px;
    position: relative;
}

.offline_bg {
    position: absolute;
    top: 0;
    left: 130px;
    z-index: -1;
}

/* slide */
.offline_img .swiper {
    width: 100%;
    height: 115%;
    cursor: pointer;
}

.offline_img .swiper-wrapper {
    height: 85%;
}

.offline_img .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offline_img .swiper-slide img {
    display: block;
    height: 100%;
    /* object-fit: cover; */
}

.offline_slide .swiper-pagination {
    width: 100%;
    height: 20px;
}

.offline_slide .swiper-pagination-bullet {
    background: #A64F30;
}

.offline_slide .swiper-horizontal {

    .swiper-button-next,
    .swiper-button-prev,
    ~.swiper-button-next,
    ~.swiper-button-prev {
        margin-left: 590px;
        margin-top: calc(0px - var(--swiper-navigation-size)/2);
        top: var(--swiper-navigation-top-offset, 127%);
    }
}

.offline_slide .swiper-horizontal {

    &.swiper-rtl .swiper-button-prev,
    &.swiper-rtl~.swiper-button-prev,
    &~.swiper-button-next,
    .swiper-button-next {
        left: auto;
        right: var(--swiper-navigation-sides-offset, 492px);
    }
}

.offline_slide .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    left: 43px;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}

.offline_slide.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translateZ(0);
    transition: opacity .3s;
    z-index: 10;
}

.offline_slide .swiper-button-next img,
.offline_slide .swiper-button-prev img {
    width: 30px;
    height: 30px;
}

.offline_slide .swiper-button-next,
.offline_slide .swiper-button-prev {
    color: transparent;
}


/* archive */
#archive {
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    background-color: #EDE9DD;
}

.inner_archive {
    width: 1320px;
    height: 288px;
    margin: auto;
    display: flex;
}

.archive_text {
    padding-top: 50px;
    padding-left: 30px;
}

.archive_title {
    font-size: 30px;
    font-weight: bold;
    color: #A05237;
}

.archive_text .text {
    padding-top: 30px;
}

p.typing-txt {
    display: none;
}

/*커서가 깜빡거리는 효과부분 시작*/
.typing {
    /*position: absolute;*/
    display: inline-block;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000
    }

    100% {
        border-right: 1px solid #fff
    }
}

.archive_btn {
    text-decoration: underline;
}

/* review */
#review {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    height: 1100px;
}

#review .title {
    font-size: 40px;
    margin-top: 94px;
    margin-bottom: 50px;
}

#review .sub_title {
    font-size: 20px;
    margin-bottom: 50px;
}

#review .container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#review .review_box {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

#review .review_box li {
    width: 321px;
    height: 321px;
    position: relative;
    overflow: hidden;
}

#review .review_box li img:first-child {
    transition: all 0.5s;
}

#review .cover {
    position: absolute;
}

#review .cover.vertical {
    top: 100%;
    left: 0;
    transition: all 0.7s ease-in-out;
}

#review .contents {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    font-weight: 300;
}

#review .contents.vertical {
    top: 100%;
    left: 0;
    transition: all 0.5s ease-in-out;
}

#review .member {
    display: flex;
    align-items: center;
}

#review .member p {
    padding-left: 10px;
}

#review .contents .text {
    padding-top: 10px;
}

#review .cafe {
    line-height: 1.2;
}

#review .review_box li:hover>img:first-child {
    filter: brightness(0.3);
}

#review .review_box li:hover .contents.vertical {
    top: 0;
}

#review .review_box .text:hover {
    text-decoration: underline;
}

.review_btn {
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    padding: 12px 35px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #a64f30;
    margin-top: 80px;
}

.review_btn a:hover {
    color: #fff;
    text-decoration: underline;
}

.title span {
    display: inline-block;
    background: linear-gradient(to top, #96942a 30%, transparent 10%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: 0.8s ease-in-out;
    line-height: 1.3;
    font-weight: bold;
    color: #333;
}

[data-aos="highlight"].aos-animate span {
    background-size: 100% 100%;
}



/* notice */
#notice {
    text-align: center;
    border-top: 1px solid #000;
}

.inner_notice {
    width: 1320px;
    height: 800px;
    margin: 0 auto;
}

.notice_title {
    font-size: 30px;
    padding: 60px;
}

.inner_notice {
    width: 459px;
    height: 449px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

/* EVENT */
.event {
    height: 293px;
    margin-bottom: 11px;
    border-radius: 50px 0 0 0;
    overflow: hidden;
}

.cover_wrap {
    position: relative;
}

.cover_wrap .img_wrap img {
    transform: scale(1);
    transition: transform 0.5s;
}

.cover_wrap:hover .img_wrap img {
    transform: scale(1.1);
}

strong {
    font-size: 20px;
}

.cover {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover p {
    padding: 10px 0 25px;
    font-weight: lighter;
}

.cover_wrap:hover .cover {
    opacity: 1;
}

.event_notice {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    font-size: 12px;
}

/* FAQ */
.FAQ {
    height: 144px;
    margin-bottom: 11px;
    border-radius: 0 0 50px 0;
    overflow: hidden;
}

.cover_wrap1 {
    position: relative;
}

.cover_wrap1 .img_wrap1 img {
    transform: scale(1);
    transition: transform 0.5s;
}

.cover_wrap1:hover .img_wrap1 img {
    transform: scale(1.1);
}

strong {
    font-size: 20px;
}

.cover1 {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover1 p {
    padding: 10px 0 15px;
    font-weight: lighter;
}

.cover_wrap1:hover .cover1 {
    opacity: 1;
}


/* Q&A */
.QNA {
    height: 293px;
    margin-bottom: 11px;
    overflow: hidden;
}

.cover_wrap2 {
    position: relative;
}

.cover_wrap2 .img_wrap2 img {
    transform: scale(1);
    transition: transform 0.5s;
}

.cover_wrap2:hover .img_wrap2 img {
    transform: scale(1.1);
}

strong {
    font-size: 20px;
}

.cover2 {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover2 p {
    padding: 10px 0 15px;
    font-weight: lighter;
}

.cover_wrap2:hover .cover2 {
    opacity: 1;
}

.notice_right h1 {
    position: absolute;
    right: -15px;
    bottom: -18px;
}

.notice_right {
    margin-left: 14px;
}

.notice_text {
    font-size: 20px;
    padding: 66px 0;
}

/* BACK_TO_TOP */
#BACK_TO_TOP {
    height: 49px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.inner_BACK_TO_TOP {
    width: 1320px;
    margin: auto;
    padding-top: 8px;
}

.inner_BACK_TO_TOP p {
    text-align: right;
    font-size: 20px;
}

/* footer */
#footer {
    background-color: #a64f30;
}

.inner_footer {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 364px;
    padding-top: 62px;
}

.footer_gnb {
    display: flex;
    width: 217px;
    height: 96px;
}

.footer_gnb ul {
    padding-right: 100px;
}

.footer_gnb li {
    padding-bottom: 30px;
}

.footer_sns {
    padding-top: 80px;
}

.footer_sns ul {
    display: flex;
}

.footer_sns li {
    padding-right: 20px;
}

.footer_left {
    padding-top: 90px;
}

.footer_middle {
    padding-top: 56px;
}

.footer_right {
    width: 320px;
    height: 245px;
    padding-top: 25px;
}

.footer_bottom {
    font-weight: lighter;
    color: #fff;
    height: 35px;
    background-color: #392A1A;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}